.container{
    max-width: 760px;
    padding-left: 1pc;
    padding-right: 1pc;
    margin: 0 auto;
    zoom: 1;
}

.container:after{
    display:table;
    content:"";
    clear:both;
}

body, html, figure{
    padding: 0;
    margin: 0;
}

.site-nav{
    padding: 10px 0;
    border-bottom: 1px solid #f9f9f9;
}

.site-nav a{
    text-decoration: none;
}

#site-brand{
    float: left;
    display: inline-block;
}

#site-brand strong{
    color: #444;
    font-size: 26px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
}

#nav{
    float: right;
}

#nav a{
    font-family: "Avenir Next",Avenir,"Helvetica Neue",sans-serif;
    text-transform: uppercase;
    font-size: 1pc;
}

.main-header{
    min-height: 160px;
    max-height: 40vh;
}

.post{
    margin: 25px 0 35px;
    line-height: 25px;
    min-height: 50px;
}

h2.post-title{
    margin: 8px 0 9pt;
    font-size: 24px;
}

.post-excerpt p{
    margin: 0;
    font-size: 1.0rem;
    /*line-height: */
}

.read-more{
    text-decoration: none;
}

.post-meta{
    display: block;
    margin: 1.2rem 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
    line-height: 1.7rem;
    color: #9EABB3;
}

.post-meta a{
    color: #9EABB3;
    text-decoration: none;
}

.post-meta .author-thumb{
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 9px;
    border-radius: 100%;
}

.post-date{
    display: inline-block;
    margin-left: 8px;
    padding-left: 12px;
    border-left: #d5dbde 1px solid;
    text-transform: uppercase;
    font-size: 0.9rem;
    white-space: nowrap;
}

.pagination{
    margin: 2rem auto;
    font-size: 0.8rem;
    color: #9EABB3;
    text-align: center;
    font-family: "Avenir Next",Avenir,"Helvetica Neue",sans-serif;
}

.post-footer{
    position: relative;
    margin: 6rem 0 0 0;
    padding: 6rem 0 0 0;
    border-top: #EBF2F6 1px solid;
}

.post-footer .author-image{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    padding: 6px;
    background: #fff;
    z-index: 2;
    box-shadow: #E7EEF2 0 0 0 1px;
}

.author-image .img{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
}

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

.site-footer{
    margin: 1rem auto;
    font-family: "Open Sans", sans-serif;
    font-size: 0.7rem;
    line-height: 1.75em;
    color: #BBC7CC;
    text-align: center;
}

.site-footer a{
    color: #BBC7CC;
    text-decoration: none;
    font-weight: bold;
}
