DEBUG = False

SECRET_KEY = '{{plane_secret_key}}'

SQLALCHEMY_DATABASE_URI = 'sqlite:///../content/data/planet-dev.db'
SQLALCHEMY_ECHO = False
SQLALCHEMY_TRACK_MODIFICATIONS = True

CACHE_TYPE = "simple"
CACHE_DEFAULT_TIMEOUT = 300

SENTRY_DSN = ''

ADMINS = ('mail@exmple.com',)

MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 465
MAIL_USE_TLS = False
MAIL_USE_SSL = True
MAIL_DEBUG = DEBUG
MAIL_USERNAME = 'mail@exmple.com'
MAIL_PASSWORD = 'password'
DEFAULT_MAIL_SENDER = mail@exmple.com'
